# Access Relational DB
- model: relational algebra
- standard SQL
- editor: PostgreSQL, MySQL/MariaDB, SQL Server, Oracle DB

NB: Article on hints
https://realpython.com/python-type-checking/

In [1]:
import psycopg2 as pg
from movie import Movie

In [2]:
host = "localhost"
port = 5432
dbname = "dbmovie"
user = "movie"
password = "password"

In [3]:
# postgresql://someone@example.com/somedb
url = f"postgresql://{host}:{port}/{dbname}"

In [4]:
conn = pg.connect(url, user=user, password=password)

In [5]:
conn

In [6]:
query_all_movies = "select * from movies"

In [7]:
cur = conn.cursor()

In [8]:
cur.execute(query_all_movies)

In [9]:
# cursor is iterable
movies = list(cur)
movies[:3]

[(5257,
  'Excuse Me',
  1915,
  50,
  'Henry Mallory, U.S.A., receives orders to join his regiment which is to embark for the Philippines. The Overland Limited is the only train that will enable him to reach the coast in time to escape a court-martial. Having a little time to spare he persuades Marjorie to elope with him and reserves two berths. They reach the train in time, but haven\'t time to get married. "Little" Jimmy Wellington, who stands six feet two and weighs 350 in his stocking feet, guzzles too much, so his wife takes the Overland for Reno, telling him she goes to Paris for the year. He gets sore and takes the same train for the same place and for the same purpose. The Reverend Doctor Temple, tiring of the Monotony of Ypsilanti elopes and takes the Overland to the coast. There is another girl aboard, a former sweetheart of Mallory\'s. With this cargo in charge of a worthy porter, they start. The happenings en route are screamingly funny. Marjorie, not married to Mallory, has her reputation at stake. Dr. Temple knows this, but won\'t let anyone know that he\'s a preacher of the gospel. Wellington and his wife fail to meet because he\'s too busy pestering the men folks and she puffing cigars. Then the other girl pesters Marjorie and Mallory with a bracelet she received from Mallory, and so everyone does something that had been better left undone, and the porter must bear the brunt of it all. A hold-up relieves the girl of the bracelet and the arrival of the Mormon minister when they get to Utah frightens Temple into practicing his profession of the young couple. Then a cinder in Wellington\'s eye causes him to meet his wife who relieves him of it, and they patch up their differences. With everything running smoothly, we leave them to continue their journeys.',
  'https://m.media-amazon.com/images/M/MV5BMmVmMGE0ZTYtZWEwNC00ODFlLTg3YTQtNTA0ZGQ4MmY2YTE0XkEyXkFqcGdeQXVyMDUyOTUyNQ@@._V1_SY150_CR46,0,101,150_.jpg',
  None,
  'R',
  767303),
 (6366,
  'Anton the Terrible',
  1916,
  50,
  'Presumably, the first woman ever to appear in a Kinetoscope film and possibly the first woman to take part in a motion picture in the United States, the Spaniard dancer, Carmencita, performs her appealing high-kick dance in front of the camera of William K.L. Dickson and William Heise, for Thomas Edison. In this segment of her New York music-hall act, she spins and twirls, exhibiting an admirable talent, a fashionable dress, and a really charming smile.',
  'https://m.media-amazon.com/images/M/MV5BMWZiZjczOTAtNzg5ZC00MTM0LTliZjQtY2NhZjlhN2VkYmI2XkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SY150_CR5,0,101,150_.jpg',
  None,
  'R',
  210352),
 (8351,
  'The Mysterious Mrs. Musslewhite',
  1917,
  50,
  'Raymond Van Seer, wealthy, has become morose and dissatisfied with life. His mental mood has worried his friends and when his true condition of mind is disclosed by the discovery that he is reading a book entitled "Famous Suicides," action becomes necessary. One of Van Seer\'s club friends has recently visited a fortune teller, known as "The Mysterious Mrs. M.," and relates his experiences to Van Seer. As a result of the combined urgings of his friends, Van Seer visits the sorceress. When she tells Van Seer that on a given date be will meet with a painful accident while out of doors, Van Seer hopes to thwart whatever truth there may be in her prognostication by remaining indoors, at his club, all day. Despite the invitations of his friends to venture forth, Van Seer sticks within his room until late in the afternoon, fire is discovered in the clubhouse and, with the other occupants, Van Seer rushes forth. Just as he is crossing the threshold, he trips, falls headlong to the sidewalk and breaks his wrist. He will have none of the attentions offered by the club physician, but takes his machine and rides to his country seat, where he submits his broken wrist to the treatment of Dr. Woodman, the family physician. Prompted by a desire to further test the abilities of the seeress, Van Seer again visits "The Mysterious Mrs. M." She informs him that on a certain date, still three months away, he is to die suddenly. As a token of his disbelief Van Seer gives her an order on his executor to pay her an immense sum of money if he shall die in accord with Mrs. Musselwhite\'s prophecy. The fortune teller hands him back the order, stating that his money will do her no good as she is herself going to die within a week. Van Seer bribes the fortune teller\'s butler to keep him advised of Mrs. Musselwhite\'s health. On the day the woman has set for her death, the butler calls Van Seer to the phone and informs him that Mrs. Musselwhite has died. Being now thoroughly convinced of the woman\'s ability Van Seer contemplates the likelihood of his own death as specified, but now he wants to live. Dr. Woodman\'s daughter, Phyllis, has come home from college. Van Seer has fallen in love with her, but believing that his day of death is fixed by fate he refrains from advancing his own cause while all the time Phyllis is in love with him. So matters continue until Van Seer\'s last day on earth. He spends the hours alone, locked in his library, watching the hands of the clock approach the hour of midnight. When at last the hour of midnight arrives and passes with Van Seer still alive he is suddenly aroused to the realities of life by having his club friends burst in upon him with a letter from "The Mysterious Mrs. M." She has, all along, acted in the employ of Van Seer\'s club friends and has prognosticated and acted along previously decided lines. Rejoicing in his good health, good fortune and the love of Phyllis, there is the happy ending of Van Seer\'s romance of life and death.',
  'https://m.media-amazon.com/images/M/MV5BMTA0NjAxMTIzMzheQTJeQWpwZ15BbWU4MDQ2NDYyNTQx._V1_SY150_CR2,0,101,150_.jpg',
  None,
  'R',
  916665)]

In [10]:
cur.close()
conn.close()

In [11]:
query_movies_by_year_range_title_containing = """select
    title, year, duration
from movies
where 
    year between %s and %s
    and title like %s
"""

In [12]:
def get_movies_by_year_range_title_containing(year1, year2, title_part):
    title = f"%{title_part}%"
    with pg.connect(url, user=user, password=password) as conn:
        with conn.cursor() as cur:
            cur.execute(query_movies_by_year_range_title_containing, (year1, year2, title))
            return [ Movie(t,y,d) for t,y,d in cur ]

In [13]:
l1 = get_movies_by_year_range_title_containing(1930,1960, 'The Man Who Knew Too Much')
l1

[The Man Who Knew Too Much (1934), The Man Who Knew Too Much (1956)]

In [14]:
l2 = get_movies_by_year_range_title_containing(1950,1960, 'The Man Who Knew Too Much')
l2

[The Man Who Knew Too Much (1956)]

In [15]:
l3 = get_movies_by_year_range_title_containing(1970,2020, 'Star Wars')
l3

[Star Wars: Episode I - The Phantom Menace (1999),
 Star Wars: Episode IV - A New Hope (1977),
 Star Wars: Episode V - The Empire Strikes Back (1980),
 Star Wars: Episode VI - Return of the Jedi (1983),
 Star Wars: Episode VII - The Force Awakens (2015),
 Star Wars: Episode IX - The Rise of Skywalker (2019)]

In [16]:
type(l1[0])

movie.Movie

In [17]:
# insert object Movie
sql_new_movie = "insert into movies (title, year, duration) values (%s,%s,%s)"

In [18]:
def save_movie(movie: Movie):
    with pg.connect(url, user=user, password=password) as conn:
        with conn.cursor() as cur:
            cur.execute(sql_new_movie, (movie.title, movie.year, movie.duration))

In [19]:
save_movie?

Signature: save_movie(movie: movie.Movie)
Docstring: <no docstring>
File:      c:\users\matthias\appdata\local\temp\ipykernel_2452\4020930659.py
Type:      function

In [21]:
m = Movie("Prey", 2020, 99)
save_movie(m)
get_movies_by_year_range_title_containing(2020, 2022, "Prey")

[Prey (2022), Prey (2021), Prey (2020)]

## DB with Pandas and SQLAlchemy

In [29]:
from sqlalchemy import create_engine
import re
import pandas as pd

In [23]:
url = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}'
print(url)
alchemyEngine = create_engine(url)

postgresql+psycopg2://movie:password@localhost:5432/dbmovie

In [24]:
# test connection:
c = alchemyEngine.connect()
print(c)
c.close()

<sqlalchemy.engine.base.Connection object at 0x000002402D7C8CA0>

In [25]:
dfMovies = pd.read_sql_table('movies', con=alchemyEngine)
dfMovies.head(5)

,id,title,year,duration,synopsis,poster_uri,color,pg,director_id
0,5257,Excuse Me,1915,50.0,"Henry Mallory, U.S.A., receives orders to join...",https://m.media-amazon.com/images/M/MV5BMmVmMG...,None,R,767303.0
1,6366,Anton the Terrible,1916,50.0,"Presumably, the first woman ever to appear in ...",https://m.media-amazon.com/images/M/MV5BMWZiZj...,None,R,210352.0
2,8351,The Mysterious Mrs. Musslewhite,1917,50.0,"Raymond Van Seer, wealthy, has become morose a...",https://m.media-amazon.com/images/M/MV5BMTA0Nj...,None,R,916665.0
3,8384,On the Level,1917,50.0,"Merlin Warner, a sheep rancher's only child, e...",https://m.media-amazon.com/images/M/MV5BMTE5ZT...,None,R,577654.0
4,8642,The Sunset Trail,1917,50.0,Tomboy Bess Aiken grows up quickly when her mo...,https://m.media-amazon.com/images/M/MV5BYjk3OT...,None,R,577654.0

In [84]:
dfMovies.to_csv('movies.csv', encoding='UTF-8')

In [26]:
dfStarWars = dfMovies[dfMovies.title.str.contains('Star Wars')]
dfStarWars

,id,title,year,duration,synopsis,poster_uri,color,pg,director_id
30,8079250,Star Wars: Episode I - The Phantom Menace,1999,136.0,None,None,None,None,NaN
464,76759,Star Wars: Episode IV - A New Hope,1977,121.0,"The Imperial Forces, under orders from cruel D...",https://m.media-amazon.com/images/M/MV5BOTA5Nj...,None,R,184.0
492,80684,Star Wars: Episode V - The Empire Strikes Back,1980,124.0,"Luke Skywalker, Han Solo, Princess Leia and Ch...",https://m.media-amazon.com/images/M/MV5BYmU1ND...,None,R,449984.0
521,86190,Star Wars: Episode VI - Return of the Jedi,1983,131.0,Luke Skywalker battles Jabba the Hutt and Dart...,https://m.media-amazon.com/images/M/MV5BOWZlMj...,None,R,549658.0
1116,2488496,Star Wars: Episode VII - The Force Awakens,2015,138.0,30 years after the defeat of Darth Vader and t...,https://m.media-amazon.com/images/M/MV5BOTAzOD...,None,R,9190.0
1118,2527338,Star Wars: Episode IX - The Rise of Skywalker,2019,142.0,While the First Order continues to ravage the ...,https://m.media-amazon.com/images/M/MV5BMDljNT...,None,R,9190.0

In [27]:
dfStarWars.title.str.upper()

30           STAR WARS: EPISODE I - THE PHANTOM MENACE
464                 STAR WARS: EPISODE IV - A NEW HOPE
492     STAR WARS: EPISODE V - THE EMPIRE STRIKES BACK
521         STAR WARS: EPISODE VI - RETURN OF THE JEDI
1116        STAR WARS: EPISODE VII - THE FORCE AWAKENS
1118     STAR WARS: EPISODE IX - THE RISE OF SKYWALKER
Name: title, dtype: object

In [28]:
dfStarWars.duration / 60

30      2.266667
464     2.016667
492     2.066667
521     2.183333
1116    2.300000
1118    2.366667
Name: duration, dtype: float64

- re.match : vérifier si un pattern est  au début d'un texte
- re.fullmatch: vérifier si un pattern correspond à tout un texte
- re.search:  chercher/vérifier un pattern dans le texte
- re.Sub / re.subn : chercher / remplacer

In [35]:
m1 = re.match('Star', 'Star Wars IV: A New Hope')
m1

In [36]:
m2 = re.match('Wars', 'Star Wars IV: A New Hope')
m2

In [37]:
m1 is None, m1 is not None, m2 is None, m2 is not None

(False, True, True, False)

In [38]:
bool(m1), bool(m2)

(True, False)

In [49]:
title = 'Star Wars IV: A New Hope'
for word in ('Star','Wars'):
    print(f"<{word}> in <{title}> : ", end='')
    m = re.match(word, title)
    if m:
        index_debut, index_fin = m.span()
        found = title[index_debut:index_fin] # m.group()
        print(f"ça a matché, found <{found}> at {index_debut}, {index_fin}")
    else:
        print("ça n'a pas matché")

<Star> in <Star Wars IV: A New Hope> : ça a matché, found <Star> at 0, 4
<Wars> in <Star Wars IV: A New Hope> : ça n'a pas matché

In [50]:
title = 'Star Wars IV: A New Hope'
for word in ('Star','Wars', 'Moon'):
    print(f"<{word}> in <{title}> : ", end='')
    m = re.search(word, title)
    if m:
        index_debut, index_fin = m.span()
        found = title[index_debut:index_fin] # m.group()
        print(f"ça a matché, found <{found}> at {index_debut}, {index_fin}")
    else:
        print("ça n'a pas matché")

<Star> in <Star Wars IV: A New Hope> : ça a matché, found <Star> at 0, 4
<Wars> in <Star Wars IV: A New Hope> : ça a matché, found <Wars> at 5, 9
<Moon> in <Star Wars IV: A New Hope> : ça n'a pas matché

In [52]:
re.sub('Wars',title, 'Trek')

'Trek'

In [54]:
title = "Star Wars 4: A New Hope"
pattern = r"Star Wars [0-9]+"
m = re.match(pattern, title)
m.group()

'Star Wars 4'

In [56]:
title = "Star Wars IV: A New Hope"
pattern = r"Star Wars [XIVLCMD]+:"
m = re.match(pattern, title)
found = m.group()[:-1]
found

'Star Wars IV'

In [61]:
title = "Star Wars IV: A New Hope"
pattern = r"(Star Wars [XIVLCMD]+): (.*)"
m = re.fullmatch(pattern, title)
title, subtitle = m.groups()
title, subtitle

('Star Wars IV', 'A New Hope')

In [62]:
[ re.match(r'St.r', word) for word in ('Star Wars', 'Sturp', 'St#r') ]

[<re.Match object; span=(0, 4), match='Star'>,
 <re.Match object; span=(0, 4), match='Stur'>,
 <re.Match object; span=(0, 4), match='St#r'>]

In [66]:
[ re.fullmatch(r'[a-z]*', word, flags=re.I) for word in ('Star', 'Star Wars', '') ]

[<re.Match object; span=(0, 4), match='Star'>,
 None,
 <re.Match object; span=(0, 0), match=''>]

In [68]:
[ re.fullmatch(r'[a-z]+', word, flags=re.I) for word in ('Star', 'Star Wars', '') ]

[<re.Match object; span=(0, 4), match='Star'>, None, None]

In [85]:
dfMovies.title.str.upper()

0                             EXCUSE ME
1                    ANTON THE TERRIBLE
2       THE MYSTERIOUS MRS. MUSSLEWHITE
3                          ON THE LEVEL
4                      THE SUNSET TRAIL
                     ...
1186                    AMAZING STORIES
1187                        THE BOUNCER
1188                       WE DIE YOUNG
1189                           THE MULE
1190                          YESTERDAY
Name: title, Length: 1191, dtype: object

In [70]:
dfMovies.title.str.extract?

Signature:
dfMovies.title.str.extract(
    pat: 'str',
    flags: 'int' = 0,
    expand: 'bool' = True,
) -> 'DataFrame | Series | Index'
Docstring:
Extract capture groups in the regex `pat` as columns in a DataFrame.

For each subject string in the Series, extract groups from the
first match of regular expression `pat`.

Parameters
----------
pat : str
    Regular expression pattern with capturing groups.
flags : int, default 0 (no flags)
    Flags from the ``re`` module, e.g. ``re.IGNORECASE``, that
    modify regular expression matching for things like case,
    spaces, etc. For more details, see :mod:`re`.
expand : bool, default True
    If True, return DataFrame with one column per capture group.
    If False, return a Series/Index if there is one capture group
    or DataFrame if there are multiple capture groups.

Returns
-------
DataFrame or Series or Index
    A DataFrame with one row for each subject string, and one
    column for each group. Any capture group names in regular
    expression pat will be used for column names; otherwise
    capture group numbers will be used. The dtype of each result
    column is always object, even when no match is found. If
    ``expand=False`` and pat has only one capture group, then
    return a Series (if subject is a Series) or Index (if subject
    is an Index).

See Also
--------
extractall : Returns all matches (not just the first match).

Examples
--------
A pattern with two groups will return a DataFrame with two columns.
Non-matches will be NaN.

>>> s = pd.Series(['a1', 'b2', 'c3'])
>>> s.str.extract(r'([ab])(\d)')
    0    1
0    a    1
1    b    2
2  NaN  NaN

A pattern may contain optional groups.

>>> s.str.extract(r'([ab])?(\d)')
    0  1
0    a  1
1    b  2
2  NaN  3

Named groups will become column names in the result.

>>> s.str.extract(r'(?P<letter>[ab])(?P<digit>\d)')
letter digit
0      a     1
1      b     2
2    NaN   NaN

A pattern with one group will return a DataFrame with one column
if expand=True.

>>> s.str.extract(r'[ab](\d)', expand=True)
    0
0    1
1    2
2  NaN

A pattern with one group will return a Series if expand=False.

>>> s.str.extract(r'[ab](\d)', expand=False)
0      1
1      2
2    NaN
dtype: object
File:      c:\users\matthias\anaconda3\lib\site-packages\pandas\core\strings\accessor.py
Type:      method

In [87]:
dfMovies[dfMovies.title.str.contains('Star Wars')]

,id,title,year,duration,synopsis,poster_uri,color,pg,director_id
30,8079250,Star Wars: Episode I - The Phantom Menace,1999,136.0,None,None,None,None,NaN
464,76759,Star Wars: Episode IV - A New Hope,1977,121.0,"The Imperial Forces, under orders from cruel D...",https://m.media-amazon.com/images/M/MV5BOTA5Nj...,None,R,184.0
492,80684,Star Wars: Episode V - The Empire Strikes Back,1980,124.0,"Luke Skywalker, Han Solo, Princess Leia and Ch...",https://m.media-amazon.com/images/M/MV5BYmU1ND...,None,R,449984.0
521,86190,Star Wars: Episode VI - Return of the Jedi,1983,131.0,Luke Skywalker battles Jabba the Hutt and Dart...,https://m.media-amazon.com/images/M/MV5BOWZlMj...,None,R,549658.0
1116,2488496,Star Wars: Episode VII - The Force Awakens,2015,138.0,30 years after the defeat of Darth Vader and t...,https://m.media-amazon.com/images/M/MV5BOTAzOD...,None,R,9190.0
1118,2527338,Star Wars: Episode IX - The Rise of Skywalker,2019,142.0,While the First Order continues to ravage the ...,https://m.media-amazon.com/images/M/MV5BMDljNT...,None,R,9190.0

In [92]:
dfSW = dfMovies[dfMovies.title.str.contains(r'star wars: episode [XIVLCMD]+ - ', case=False)]
dfSW

,id,title,year,duration,synopsis,poster_uri,color,pg,director_id
30,8079250,Star Wars: Episode I - The Phantom Menace,1999,136.0,None,None,None,None,NaN
464,76759,Star Wars: Episode IV - A New Hope,1977,121.0,"The Imperial Forces, under orders from cruel D...",https://m.media-amazon.com/images/M/MV5BOTA5Nj...,None,R,184.0
492,80684,Star Wars: Episode V - The Empire Strikes Back,1980,124.0,"Luke Skywalker, Han Solo, Princess Leia and Ch...",https://m.media-amazon.com/images/M/MV5BYmU1ND...,None,R,449984.0
521,86190,Star Wars: Episode VI - Return of the Jedi,1983,131.0,Luke Skywalker battles Jabba the Hutt and Dart...,https://m.media-amazon.com/images/M/MV5BOWZlMj...,None,R,549658.0
1116,2488496,Star Wars: Episode VII - The Force Awakens,2015,138.0,30 years after the defeat of Darth Vader and t...,https://m.media-amazon.com/images/M/MV5BOTAzOD...,None,R,9190.0
1118,2527338,Star Wars: Episode IX - The Rise of Skywalker,2019,142.0,While the First Order continues to ravage the ...,https://m.media-amazon.com/images/M/MV5BMDljNT...,None,R,9190.0

In [96]:
dfSW.title.str.extract(r'(star wars: episode [XIVLCMD]+) - (.*)', flags=re.I)

                           0                        1
30      Star Wars: Episode I       The Phantom Menace
464    Star Wars: Episode IV               A New Hope
492     Star Wars: Episode V  The Empire Strikes Back
521    Star Wars: Episode VI       Return of the Jedi
1116  Star Wars: Episode VII        The Force Awakens
1118   Star Wars: Episode IX    The Rise of Skywalker